@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Playpen+Sans:wght@600;700;800&family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR STYLE */
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  @apply w-2 bg-primary-green-800;
}
html::-webkit-scrollbar-thumb {
  @apply bg-primary-green-500 w-2 h-8 rounded-2xl;
}

/* TEXT SELECTION STYLE */
::-moz-selection {
  /* Code for Firefox */
  @apply text-black-500 bg-primary-green-500;
}

::selection {
  @apply text-black-500 bg-primary-green-500;
}

body {
  @apply bg-black-800;
  height: 100vh;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.btnClip {
  position: relative;
}
.btnClip:before {
  content: "";
  position: absolute;
  inset: 0;
  @apply bg-primary-green-500;
  transition: all 0.4s linear;

  clip-path: polygon(
    0 1.69px,
    4px 4px,
    1.69px 0,
    calc(100% - 1.69px) 0,
    calc(100% - 4px) 4px,
    100% 1.69px,
    100% calc(100% - 1.69px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 1.69px) 100%,
    1.69px 100%,
    4px calc(100% - 4px),
    0 calc(100% - 1.69px),
    0 1.69px,
    4px calc(1.69px + 6.93px),
    4px calc(100% - 1.69px - 6.93px),
    calc(4px + 10.93px) calc(100% - 4px - 10.93px),
    calc(1.69px + 6.93px) calc(100% - 4px),
    calc(100% - 1.69px - 6.93px) calc(100% - 4px),
    calc(100% - 4px - 10.93px) calc(100% - 4px - 10.93px),
    calc(100% - 4px) calc(100% - 1.69px - 6.93px),
    calc(100% - 4px) calc(1.69px + 6.93px),
    calc(100% - 4px - 10.93px) calc(4px + 10.93px),
    calc(100% - 1.69px - 6.93px) 4px,
    calc(1.69px + 6.93px) 4px,
    calc(4px + 10.93px) calc(4px + 10.93px),
    4px calc(1.69px + 6.93px)
  );
}

.btnClip:hover:before {
  @apply bg-white;
}
/* GRADIENT BG STYLES */
.bg-gradient {
  background: rgb(33, 90, 63);
  background: linear-gradient(
    90deg,
    rgba(33, 90, 63, 1) 0%,
    rgba(33, 90, 63, 0.4906337535014006) 74%,
    rgba(33, 90, 63, 0.039653361344537785) 100%
  );
}
/* TEXT SHADOW */
.text-shadow {
  text-shadow: 1.5px 3.5px #3fde77;
}
.logoShadow {
  box-shadow: 1px 3px 83px 17px rgba(63, 222, 119, 0.79);
  -webkit-box-shadow: 1px 3px 83px 17px rgba(63, 222, 119, 0.79);
  -moz-box-shadow: 1px 3px 83px 17px rgba(63, 222, 119, 0.79);
}
.brand:hover {
  box-shadow: 1px 3px 83px 17px rgba(63, 222, 119, 0.568);
  -webkit-box-shadow: 1px 3px 83px 17px rgba(63, 222, 119, 0.409);
  -moz-box-shadow: 1px 3px 83px 17px rgba(63, 222, 119, 0.394);
  transition: all 0.6s linear;
}


/* ===============  ANIMATIONS =============== */

/* MOBILE MENU ANIMATION => animation slide-left */

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-11-30 21:47:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
